
<div>
    <h2><span translate="hipstagramApp.post.detail.title">Post</span> {{vm.post.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="hipstagramApp.post.text">Text</span></dt>
        <dd>
            <span>{{vm.post.text}}</span>
        </dd>
        <dt><span translate="hipstagramApp.post.photo">Photo</span></dt>
        <dd>
            <div ng-if="vm.post.photo">
                <a ng-click="vm.openFile(vm.post.photoContentType, vm.post.photo)">
                    <img data-ng-src="{{'data:' + vm.post.photoContentType + ';base64,' + vm.post.photo}}" style="max-width: 100%;"/>
                </a>
                {{vm.post.photoContentType}}, {{vm.byteSize(vm.post.photo)}}
            </div>
        </dd>
        <dt><span translate="hipstagramApp.post.date">Date</span></dt>
        <dd>
            <span>{{vm.post.date | date:'medium'}}</span>
        </dd>
        <dt><span translate="hipstagramApp.post.tag">Tag</span></dt>
        <dd>
            <span ng-repeat="tag in vm.post.tags">
                <a ui-sref="tag-detail({id: {{tag.id}}})">{{tag.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span translate="hipstagramApp.post.author">Author</span></dt>
        <dd>
            {{vm.post.author.login}}
        </dd>
        <dt><span translate="hipstagramApp.post.likes">Likes</span></dt>
        <dd>
            <span ng-repeat="likes in vm.post.likes">
                {{likes.login}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <div ui-view="comments">
        <h2>Comments</h2>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
